* {
	box-sizing: border-box;
} 

.debug {
	border: 2px solid tomato;
}

body {
  	color: darkcyan;
  	font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", sans-serif;
  	background-color: rgb(83, 83, 83);
	text-align: center;
}

label {
	color: white;
	font-size: 1.2em;
}

.wrap {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 58px);
	background-color: rgb(41, 41, 41);
	padding-bottom: 20px;
}

.titleText {
	text-align: center;
	padding: 15px 0 0 0;
	font-size: 20px;
	font-family: sans-serif;
}

.submission {
	margin: 20px auto;
  	padding: 6px 8px 6px 8px;
	background-color: darkcyan;
	box-shadow: 0 1px 14px rgba(0,0,0, .40);
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

label {
	padding: 10px;
}

.box {
	margin-top: 5px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}

.box {
	float: left;
	padding: 8px;
	color: black;
	border: 2px solid black;
}

.container {
	display: flex;
	flex-direction: column;
}

footer {
	background: #d9e4ea;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}

/* ================================= Generate ==================================== */

.generate {
	font-size: 1em;
	padding: 10px;
	color: black;
	border: 4px solid black;
	margin: 20px auto;
	text-decoration: none;
	cursor: pointer;
	align-items: center;
	border-radius: 5px;
	font-weight: bold;
}

.generate:hover {
	color: white;
	border: 4px solid white;
	background: darkcyan;
}


/* ================================= Pop Up ==================================== */


/* ================================= Media Queries ==================================== */

@media (min-width: 700px) {

	.wrap {
		width: 60%;
		margin: 0 auto;
		box-shadow: 0 1px 14px rgba(0,0,0, .40);
	}

	.container {
		width: 100%;
		display: flex;
	}

	.box {
		width: 60%px;

	}

	.generatedLib {
		width: 540px;
		margin: 0 auto;
	}

	.submission {
		width: 70%;
		min-width: 400px;
		max-width: 600px;
	}

	.generate {
		width: 70%;
		margin: 0 auto;
		min-width: 400px;
		max-width: 600px;
	}

	.main-nav {
		float: right;
	}

	.name,
	.main-nav li {
		float: left;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1025px) {

}